ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

body, td
{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  background-color: #fff;
}

body
{
  padding: 20px;
}

body.goninis {
  background:#222 url(/images/textura.jpg) repeat;
}

body.goninis div.bg{
  position:absolute;
  width:979px;
  height:764px;
  margin:0px auto;
  top:0px;
  background:transparent url(/images/arcos.png) no-repeat;
  z-index:-100;
}

body.goninis > div.container_24 {
  min-height:732px;
}

body.goninis div.logo {
  position:relative;
  background:url(/images/logo.png) no-repeat 0px 0px;
  width:230px;
  height:72px;
  margin:0px auto;
  top:170px;
}

body.goninis div.icon {
  position:relative;
  width:41px;
  height:61px;
  float:left;
  top:-30px;
}
body.goninis div.icon.facebook {
  background:url(/images/landing/sprites.png) no-repeat 0px -72px;
  top:-340px;
  left:145px;
}
body.goninis div.icon.twitter {
  background:url(/images/landing/sprites.png) no-repeat -41px -72px;
  top:-340px;
  left:565px;
}
body.goninis div.icon.linkedin {
  background:url(/images/landing/sprites.png) no-repeat -81px -72px;
}
body.goninis div.icon.pinterest {
  background:url(/images/landing/sprites.png) no-repeat -121px -72px;
}
body.goninis div.optin.popup {
  position:relative;
  top:200px;
  background:url(/images/menu_landingpage.png) no-repeat 0px 0px;
  width:598px;
  height:526px;
  margin:0px auto;
}
body.goninis form {
  position:relative;
  top:455px;
  left:110px;
}
body.goninis form input[type='text']{
  height:26px;
}
body.goninis form input[type='text']#email{
  position:relative;
  width:270px;
  top:-60px;
  left:-60px;
}
body.goninis form input[type='text']#zipcode{
  position:relative;
  width:110px;
  margin-left:40px;
  top:-60px;
  left:-60px;
}
body.goninis form input[type='image']{
  position:absolute;
  top:-10px;
  left:260px;
}
body.goninis div.optin.popup div.feedback {
  position:relative;
  width:450px;
  height:71px;
  top:420px;
  left:100px;
}
body.goninis div.optin.popup div.feedback.ok {
  background:url(/images/landing/feedback_ok.png) no-repeat 0px 0px;
}
body.goninis div.optin.popup div.feedback.error {
  background:url(/images/landing/feedback_error.png) no-repeat 0px 0px;
  cursor:pointer;
}
body.goninis div.footer {
  background:url(/images/textura_footer.jpg) repeat-x 0px 0px;
  height:96px;
}
