ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

body, td
{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  background-color: #fff;
}

body
{
  padding: 20px;
}

body.goninis {
  background-color:#006A85;
  min-height:700px;
}

body.goninis div.bg{
  position:absolute;
  width:1024px;
  height:699px;
  min-height:700px;
  margin:0px auto;
  top:0px;
  background:#000 url(/images/landing/landing_bg.jpg) no-repeat;
  z-index:-100;
}

body.goninis div.logo {
  position:relative;
  background:url(/images/landing/sprites.png) no-repeat 0px 0px;
  width:254px;
  height:72px;
}

body.goninis div.icon {
  position:relative;
  width:41px;
  height:61px;
  float:left;
  top:-30px;
}
body.goninis div.icon.facebook {
  background:url(/images/landing/sprites.png) no-repeat 0px -72px;
}
body.goninis div.icon.twitter {
  background:url(/images/landing/sprites.png) no-repeat -41px -72px;
}
body.goninis div.icon.linkedin {
  background:url(/images/landing/sprites.png) no-repeat -81px -72px;
}
body.goninis div.icon.pinterest {
  background:url(/images/landing/sprites.png) no-repeat -121px -72px;
}
body.goninis div.optin.popup {
  position:relative;
  top:15px;
  background:url(/images/landing/sprites.png) no-repeat 0px -135px;
  width:600px;
  height:627px;
}
body.goninis form {
  position:relative;
  top:455px;
  left:110px;
}
body.goninis form input[type='text']{
  height:26px;
}
body.goninis form input[type='text']#email{
  width:270px;
}
body.goninis form input[type='text']#zipcode{
  width:110px;
  margin-left:40px;
}
body.goninis form input[type='image']{
  position:absolute;
  top:70px;
  left:315px;
}
body.goninis div.optin.popup div.feedback {
  position:relative;
  width:450px;
  height:71px;
  top:420px;
  left:100px;
}
body.goninis div.optin.popup div.feedback.ok {
  background:url(/images/landing/feedback_ok.png) no-repeat 0px 0px;
}
body.goninis div.optin.popup div.feedback.error {
  background:url(/images/landing/feedback_error.png) no-repeat 0px 0px;
  cursor:pointer;
}
